<header>
    <div class="H-container">
        <img src="@Url.Content("~/Le_Logo.jpg")" alt="Logo">
    </div>
    <div class="H-container">
        <h1>Den perfekta Boklistan!</h1>
    </div>
</header>